{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="page-header page-header-padding">
            <h1>Contact Us</h1>
        </div>
        <div class="row">
            <div class="span16">
                <p>Send an e-mail for any inquries you have to one of the following addresses:</p>
                <ul>
                    <li>contact &nbsp;[at] sotlive [dot] com</li>
                    <li>info &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [at] sotlive [dot] com</li>
                    <li>help &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[at] sotlive [dot] com</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
