{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="page-header page-header-padding">
            <h1>Disclaimer</h1>
        </div>
        <div class="row">
            <div class="span16">
                <p>The information contained in this website is for general information purposes only. The information is provided by www.sotlive.com ('we', 'our', 'us', 'the website') and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
                <p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>
                <p>Through this website you are able to link to other websites (third parties) which are not under the control of www.sotlive.com. We have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them. Any dealings between you and such third parties, including payment for and delivery of products or services and any other terms, conditions, warranties or representations, acts or omissions associated with such dealings, are solely between you and the third party. You agree not to hold us liable for any loss or damage of any kind incurred as the result of any such dealings.</p>
                <p>Our servers may automatically collect information about your computer when you visit the website, including without limitation the type of browser software you use, the operating system you are running, and your Internet Protocol ("IP") address. We use this information to help improve the website.</p>
                <p>The material and content on the website is subject to change without notice, including the disclaimer.</p>
                <p>The website (www.sotlive.com) is not affiliated in any way with any other organization or third party.</p>
                <p>Every effort is made to keep the website up and running smoothly. However, www.sotlive.com takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues within or beyond our control. If you are dissatisfied with the website or any content or materials on it, your sole exclusive remedy is to discontinue your use of the website.</p>
            </div>
        </div>
    </div>
{% endblock %}
