{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="page-header page-header-padding">
            <h1>Frequently Asked Questions</h1>
        </div>
        <div class="row">
            <div class="span16">
                <h3>I know a game is going to be on TV / Streaming Live in a few days but you didn't list it yet?</h3>
                <p>We are at the mercy of the broadcasting networks ever changing TV / Stream schedule. We double check and update the games as soon as we can.</p>
            </div>
        </div>
        <div class="row">
            <div class="span16">
                <h3>I didn't see any replay games listed?</h3>
                <p>Support for replay listings are coming soon.</p>
            </div>
        </div>
        <div class="row">
            <div class="span16">
                <h3>I want to see games shown on station 'X' but you guys don't have it?</h3>
                <p>Tell us the station and we'll start listing it. We only show nationally broadcast games at the moment but will expand to local stations if requested.</p>
            </div>
        </div>
        <div class="row">
            <div class="span16">
                <h3>I didn't see any Women's Soccer / Indoor Soccer / Beach Soccer games listed?</h3>
                <p>We do not support listing Women's Soccer, Indoor Soccer, or Beach Soccer games at this time.</p>
            </div>
        </div>
        <div class="row">
            <div class="span16">
                <h3>I didn't see any scores, stats, or league standings?</h3>
                <p>We only list the TV Schedule for live games and do not track stats. You might be interested in our <a href="http://blog.sotlive.com" target="_blank">blog</a> though.</p>
            </div>
        </div>
        <div class="row">
            <div class="span16">
                <h3>When does the current day's game listing go away?</h3>
                <p>The current day's game listing will go away at 5 A.M. ET on the next day. After 5 A.M. ET you will see the present day's games and the next five days beyond that.</p>
            </div>
        </div>
        <div class="row">
            <div class="span16">
                <h3>I want to see feature 'X' but you guys don't have it?</h3>
                <p>Tell us and we will think about how to implement it for you.</p>
            </div>
        </div>
        <div class="row">
            <div class="span16">
                <h3>Where do you get the TV Listings from?</h3>
                <p>Here are our sources:</p>
                <ul>
                    <li><a href="http://www.espn.go.com" target="_blank">ESPN</a></li>
                    <li><a href="http://msn.foxsports.com/foxsoccer/" target="_blank">Fox Soccer</a></li>
                    <li><a href="http://www.goltv.tv/index_en.php" target="_blank">Gol TV</a></li>
                    <li><a href="http://www.mlssoccer.com/" target="_blank">MLS Soccer</a></li>
                    <li><a href="http://www.univision.com" target="_blank">Univision</a></li>
                    <li><a href="http://msnlatino.telemundo.com/" target="_blank">Telemundo</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
