{% from "layout_macros.html" import menu, footer %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Soccer On TV - Soccer On TV shows all live soccer games broadcast in the United States of America</title>
        <meta name="author" content="Soccer On TV - Soccer On TV shows all live soccer games broadcast in the United States of America">
        <meta name="description" content="Soccer On TV - Soccer On TV shows all live soccer games broadcast in the United States of America">
        <meta name="keywords" content="Soccer On TV, Soccer Games, sotlive, Twitter, Carling Cup, Coppa Italia, FA Cup, Leagues, Premier League, Serie A, La Liga, Bundesliga, Ligue 1, MLS, Champions League, Europa League, Copa Sudamericana, Mexican Primeria, Stations, ESPN, ESPN2, ESPN Deportes, Fox, Fox Soccer, FSN, Fox Soccer Plus, Fox Deportes, Deportes, Telefutura, Telemundo, Univision, Galavision, TV Colombia, ESPNU, Big Ten Network, Soccer, Football, Futbol, TV, Live, En Vivo, Schedule, Listings, Soccer On TV, Live Soccer, Live Football, Futbol En Vivo, World Cup, European, European Championship, NCAA, NSCAA">
        <meta name="google-site-verification" content="_eZ_wRZcBNN41Htd9G1yz3CRW0ejstR0rPzjZU4VGq4" />
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="{{ url_for('static', filename='../static/css/bootstrap-1.3.0-min-0.0.2.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='../static/css/sot-0.0.3.css') }}" rel="stylesheet">
        {% block styles %}{% endblock %}

        <script src="{{ url_for('static', filename='../static/javascripts/jquery-1.6.4-min.js') }}"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        {{ menu() }}
        {% block content %}{% endblock %}
        {{ footer() }}
    </body>
</html>
